<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Instagram</title>
		<style>
			body {
				background-color: #000000;
				padding: 20px;
				color: #fff;
				font-size: 16px;
			}
			.container {
				display: flex;
			}
			.left {
				width: 20%;
				padding: 20px 30px;
				display: flex;
				justify-content: center;
			}
			img {
				height: 150px;
				width: 150px;
				border-radius: 50%;
				object-fit: cover;
			}
			.right {
				padding: 20px 30px;
				width: 80%;
			}
			.header {
				display: flex;
				flex-direction: column;
				row-gap: 20px;
			}
			.header-top,
			.header-body {
				display: flex;
				column-gap: 15px;
				align-items: center;
			}
			.btn {
				background-color: #363636;
				border: none;
				outline: none;
				width: 70px;
				height: 30px;
				border-radius: 10px;
				color: #fff;
			}
			.btn:hover {
				cursor: pointer;
				background-color: #1b1b1b;
				transition: 0.1s ease-in-out;
			}
			.bio {
				width: 40%;
				line-height: 1.5;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="left">
				<img src="<%= data.profile_picture_url %>" alt="ass" />
			</div>
			<div class="right">
				<div class="header">
					<div class="header-top">
						<p class="username"><%= data.username %></p>
						<button class="btn follow-btn">Follow</button>
						<button class="btn msg-btn">Message</button>
					</div>
					<div class="header-body">
						<p class="post-count"><%= data.posts_count %> Posts</p>
						<p class="followers-count">
							<% if((data.followers_count < 1000000) && (data.followers_count >
							1000)) { %> <%= (data.followers_count / 1000).toFixed(1) %>k
							Followers <% } else{ %> <%= data.followers_count %> Followers <% }
							%>
						</p>
						<p class="following-count"><%= data.following_count %> Following</p>
					</div>
				</div>
				<div class="body">
					<p class="name"><%= data.full_name %></p>
					<p class="bio"><%= data.bio %></p>
				</div>
			</div>
		</div>
	</body>
</html>
